@import "./style-apa.css";

.contenedor {
    max-inline-size: 900px;
    margin: 0 auto;
}

.reproductor {
    position: relative;
}

.reproductor video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
}

.reproductor-titulo {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}

.reproductor-acciones {
    position: absolute;
    inset: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.reproductor-progreso {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
    z-index: 3;
}

.reproductor-progreso input {
    flex: 1;
}

.reproductor-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.reproductor:hover .reproductor-overlay {
    opacity: 1;
}